html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: rgba(242,242,242,0.6);
    font-size: 16px;
    font-style: normal;
    font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-bottom: 94px;
}

.navbar_margin {
    margin-bottom: 52px;
}

/*header with foto*/

/*.header_text_al {*/
    /*display: block;*/
    /*padding-top: 15px;*/
/*}*/

/*#pad_null {*/
    /*padding-top: 8px;*/
    /*padding-bottom: 0;*/
/*}*/

/*.mini_img_header {*/
    /*width: 35px;*/
    /*height: 35px;*/
/*}*/

/*end header with foto*/


.p-pad p{
    margin-top: 7px;
}

.mini-pict {
    height: 120px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.copyright-mar {
    margin-top: 15px;
}

.copyright-mar a:hover {
    text-decoration: none;
}

.land-h {
    margin-bottom: 50px;
}

#footer{
    margin-top: 0;
    margin-bottom: 0;
}

@font-face {
    font-family: "Myriad Set Pro";
    src: url("../fonts/myriad-set-pro_thin.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Myriad Set Pro";
    src: url("../fonts/myriad-set-pro_bold.ttf");
    font-weight: bold;
}

#search {
    display:block;
    text-align:center;
}

.navbar-center {
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    background-color: #fff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.lead a:hover {
    text-decoration: none;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.footer-menu {
    font-size: 18px;
}

.footer-menu-divider {
    padding-top: 12px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 94px;
    background-color: #f5f5f5;
}

.button-name {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.glyphicon-fix {
    top: 3px;
}


.intro-message {
    position: relative;
    padding-bottom: 10%;

}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:768px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}


.top-menu-black {
    background: rgba(0,0,0,0.8);
    border-color: transparent;
}

/* Anton */
.lecture-content__target-header {
	margin-top: 0;
}
.lecture-content__target-header,
.lecture-content__part-header,
.lecture-content__task-header,
.lecture-content__features-header {
	text-indent: 30px;
}
.lecture-content__target-list {
	margin-left: 10px;
}
.lecture-content__features-list {
	margin-left: 5px;
}
.lecture-content__task-item {
	text-align: justify;
	text-indent: 30px;
}